
$queryColor: black;
$wellColor:   #f7f7f7;
$wellDarker: darken($wellColor, 10%);
$wellDarkest: darken($wellDarker, 10%);
$wellMarLeft: -10%;
$marTop: 16%;
$marSides: 12%;
$spacer: 2%;

h1 {
  font-family: 'Alegreya', serif;
  font-size: 8em;
  margin-top: -$marTop;
  -webkit-text-stroke: 1px white;
}



html body {
  margin-top: $marTop;
  margin-left: $marSides;
  margin-right: $marSides;
 
}


#inputRow {
  top: 40%;
  padding-bottom: $spacer;
  -webkit-text-stroke: 3% white;
}

#btnRow {  
  font-family:  'Alegreya', serif;  
  padding-bottom: $spacer;
  -webkit-text-stroke: 3% white;
}

.btn-block {
    background: $wellColor;
    box-shadow: 1px 3px 1px $wellDarker;
    &:hover {
      background: $wellDarker;
      box-shadow: 1px 3px 1px $wellDarkest;
    }
    &:active {
      background: $wellDarker;
      box-shadow: 1px 3px 1px $wellDarkest;
    }
}

.input-group {
  font-family:  'Alegreya', serif;
  background-color: $wellDarkest;
  border: 2px solid $wellColor;
  border-radius: 5px;
}

a {
  color: $queryColor;

  &:link {
    text-decoration: none;
  }  
}

.well {
  margin-left: $wellMarLeft;
  font-family:  'Alegreya', serif;
  font-size: 1.5em;
  background: $wellColor;
  box-shadow: 1px 3px 1px $wellDarker;

  &:hover {
    background: $wellDarker;
    box-shadow: 1px 3px 1px $wellDarkest;
  }
  &:active {
    background: $wellDarker;
    box-shadow: 1px 3px 1px $wellDarkest;
  }
}
