$marTop: 13%;
$marSides: 2%;
$queryColor: black;
$wellColor: #5bc0de;
$wellDarker: darken($wellColor, 10%);
$wellDarkest: darken($wellDarker, 10%);



html body {
  margin-top: $marTop;
  margin-left: $marSides;
  margin-right: $marSides;
 
}


#inputRow {
  position: relative;  
  top: 40%;
  padding-bottom: 3%;
}

#buttonRow {
  position: relative;
  top: 50%;
  left: 45.5%;

}

.input-group {
  background-color: #e0e0e0;
  border: 2px double #e0e0e0;
  border-radius: 5px;
}

a {
  color: $queryColor;

  &:link {
    text-decoration: none;
  }
  &:visited {

  }
  &:hover {

  }
  &:active {

  }
}

.well {
  font-family: sans-serif;
  font-size: 2em;
  background: $wellColor;
  box-shadow: 0px 5px 0px $wellDarker;

  &:hover {
    background: $wellDarker;
    box-shadow: 0px 5px 0px $wellDarkest;
  }
  &:active {
    background: green;
    box-shadow: 0px 0px 0px $wellDarkest;

  }
}
